<div class="container" ng-controller="loginCtrl">

  <div class="row login-row">
    <div class="col-sm-12">
        <input class="searchbar"type="text" placeholder="Search">
    </div>
  </div>
  <div class="row content-section-row">
   <div class="col-sm-4">
        <button ng-click= "newSection()"class="new-section-button">Create New Section<br><h2>+</h2></button>
    </div>
    <div class="col-sm-4 scroll" ng-repeat="section in sections track by $index">
      <h1 class="section-name">
        {{section.title}}
      </h1>
      <ul>
        <li ng-click="toggle[$index] = !toggle[$index]" class="add-new-website">
          <button class="add-website-icon"><h4>+</h4></button> Add New Website
        </li>
        <form ng-show="toggle[$index]" ng-submit="newListItem(section, siteName[$index], url[$index], $index)">
          <input class="save-website" type="text" ng-model="siteName[$index]" placeholder="Name of Website" required ><br>
          <input class="save-website" type="text" ng-model=" url[$index]" placeholder="URL" required>
          <br>
          <button ng-click="toggle[$index] = !toggle[$index]" class="save-button" type="submit" ng-required>Save</button>
        </form>
        <li ng-repeat="item in section.list">
          <button class="edit-website-icon" ng-click= "editing = true" ng-click="toggle[$index]">
            <h4>-</h4>
          </button>
          <a ng-hide= "editing" ng-href="{{item.url}}" target="_blank"><div>{{item.siteName}}</div></a>
           <form ng-show="editing" ng-submit="editing = false">
            <h5 class="edit-text">Edit</h5>
            <input class="save-website" type="text" ng-model="item.siteName" placeholder="Website Name" ng-required/>
            <input class="save-website" type="text" ng-model="item.url" placeholder="URL" ng-required/>
            <br/>
            <button class="save-button" type="submit">Save</button>
            <button class="save-button" ng-click="remove()">Delete</button>
          </form>
        </li>
      </ul>
    </div>

  <div class="col-sm-4">
      <div>
        Hello
      </div>
  </div>



</div> <!-- end of container  -->